/* app/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom styles here */

/* Add this to your existing global.css */

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4f46e5; /* Indigo-600 */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    display: inline-block;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }